<div class="setting-category">
  <div class="description">
    <p>
      @if (is_windows) {
        <span translate>power-automations.windowsPowerPolicy.description</span>
      } @else {
        <span translate>power-automations.linuxPowerPolicy.description</span>
      }
    </p>
    <i class="material-icons-outlined description-icon">energy_savings_leaf</i>
  </div>
  <h3 translate>power-automations.windowsPowerPolicy.automations</h3>
  <div class="settings">

    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>power-automations.windowsPowerPolicy.sleepModeEnable.title</span>
        @if (is_windows) {
          <span translate>power-automations.windowsPowerPolicy.sleepModeEnable.description</span>
        } @else {
          <span translate>power-automations.linuxPowerPolicy.sleepModeEnable.description</span>
        }
      </div>
      <div class="setting-row-action">
        <app-select-box
          type="SMALL"
          [items]="policyOptions"
          [selected]="onSleepModeEnablePolicy"
          (selectedChange)="setPolicy('ON_ENABLE', $event!)"
        ></app-select-box>
      </div>
    </div>
    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>power-automations.windowsPowerPolicy.sleepPrepare.title</span>
        @if (is_windows) {
          <span translate>power-automations.windowsPowerPolicy.sleepPrepare.description</span>
        } @else {
          <span translate>power-automations.linuxPowerPolicy.sleepPrepare.description</span>
        }
      </div>
      <div class="setting-row-action">
        <app-select-box
          type="SMALL"
          [items]="policyOptions"
          [selected]="onSleepPreparePolicy"
          (selectedChange)="setPolicy('ON_PREPARE', $event!)"
        ></app-select-box>
      </div>
    </div>
    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>power-automations.windowsPowerPolicy.sleepModeDisable.title</span>
        @if (is_windows) {
          <span translate>power-automations.windowsPowerPolicy.sleepModeEnable.description</span>
        } @else {
          <span translate>power-automations.linuxPowerPolicy.sleepModeEnable.description</span>
        }
      </div>
      <div class="setting-row-action">
        <app-select-box
          type="SMALL"
          [items]="policyOptions"
          [selected]="onSleepModeDisablePolicy"
          (selectedChange)="setPolicy('ON_DISABLE', $event!)"
        ></app-select-box>
      </div>
    </div>
  </div>
</div>
