<div class="pane">
  <div class="pane-title" translate>notificationsAutomations.title</div>
  <div class="pane-content">
    <div class="setting-view-container">
      <p translate>notificationsAutomations.description</p>

      <div class="setting-category">
        <h3 translate>notificationsAutomations.system.title</h3>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate
                >systemMicMuteAutomations.stateAutomations.onSleepModeEnable.title</span
              >
              <span></span>
            </div>
            <div class="setting-row-action">
              <app-select-box
                type="SMALL"
                class="action-dropdown"
                (selectedChange)="onChangeMuteOption('ON_SLEEP_ENABLE', $event)"
              ></app-select-box>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate
                >systemMicMuteAutomations.stateAutomations.onSleepModeDisable.title</span
              >
              <span></span>
            </div>
            <div class="setting-row-action">
              <app-select-box
                type="SMALL"
                class="action-dropdown"
                (selectedChange)="onChangeMuteOption('ON_SLEEP_DISABLE', $event)"
              ></app-select-box>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate
                >systemMicMuteAutomations.stateAutomations.onSleepPreparation.title</span
              >
              <span></span>
            </div>
            <div class="setting-row-action">
              <app-select-box
                type="SMALL"
                class="action-dropdown"
                (selectedChange)="onChangeMuteOption('ON_SLEEP_PREPARATION', $event)"
              ></app-select-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
