<div class="pane-content">
  <div class="setting-view-container">
    <div class="description-row">
      <p [innerHtml]="'gpu-automations.lact.description' | translate"></p>
    </div>
    <h3>Automations</h3>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>gpu-automations.lact.sleepModeEnable.title</span>

          <span translate>gpu-automations.lact.sleepModeEnable.description</span>
        </div>
        <div class="setting-row-action">
          <app-select-box
            type="SMALL"
            [items]="profileOptions"
            [selected]="onEnableProfile"
            (selectedChange)="changeProfile('ON_ENABLE', $event!)"
          ></app-select-box>
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>gpu-automations.lact.sleepPreparation.title</span>

          <span translate>gpu-automations.lact.sleepPreparation.description</span>
        </div>
        <div class="setting-row-action">
          <app-select-box
            type="SMALL"
            [items]="profileOptions"
            [selected]="onPrepareProfile"
            (selectedChange)="changeProfile('ON_PREPARE', $event!)"
          ></app-select-box>
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>gpu-automations.msiAfterburner.sleepModeDisable.title</span>

          <span translate>gpu-automations.lact.sleepModeEnable.description</span>
        </div>
        <div class="setting-row-action">
          <app-select-box
            type="SMALL"
            [items]="profileOptions"
            [selected]="onDisableProfile"
            (selectedChange)="changeProfile('ON_DISABLE', $event!)"
          ></app-select-box>
        </div>
      </div>
    </div>
    <div class="alert">
      <div class="alert-bg"></div>
      <div class="alert-icon">
        <i class="material-icons">warning</i>
      </div>
      <div class="alert-content flex-row">
        <div translate>gpu-automations.lact.enabledWarning</div>
      </div>
    </div>
  </div>
</div>
